<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
#dialog {
    padding: 2em;
    border: 1px solid #000;
    width: 30em;
    height: 20em;
    margin: 0 auto;
}

</style>

<div id="dialog">
    <div class="dialog-message">
        {{ message }}
    </div>
    <hr/>
    <div class="dialog-options" v-if="flags.showChoices">
        <ol>
            <li v-for="choice in choices">
                <span class="dialog-choice" v-on:click="choiceClicked(choice.id)">
                    {{ choice.text }}
                </span>
            </li>
        </ol>
    </div>
    <div class="dialog-continue" v-if="flags.showContinue">
        <span v-on:click="continueClicked()">
            continue
        </span>
    </div>
</div>



<script>

var app = new Vue({
  el: '#dialog',
  data: {
    message: '',
    choices: [],
    flags : {
        showChoices: false,
        showContinue: false
    }
  },
  methods: {
      displayMessage: function(messagePayload) {
            this.message = messagePayload.message
            this.choices = messagePayload.choices
            this.flags.showChoices = this.choices !== null && this.choices.length > 0
            this.flags.showContinue = !this.flags.showChoices
      },
      choiceClicked: function(choiceId) {
            console.log('choice clicked ' + choiceId)
      },
      continueClicked: function() {
          console.log('continue clicked')
      }
  }
})

/*var testPayload = {
    message: "hello world",
    choices: [
        { id: 1, text: "first option" },
        { id: 2, text: 'second option'}
    ]
}*/


var testPayload = {
    message: "hello world",
    choices: []
}

app.displayMessage(testPayload)

</script>